@import 'tailwindcss/dist/base.css';
@import 'tailwindcss/dist/components.css';
@import 'tailwindcss/dist/utilities.css';


body{
    background-color: rgb(245, 144, 71);
}

/* .texto{
    width: 50%;
    float: center;
    background-color: rgb(223, 215, 215);
    border-radius: 10%;
} */